body {
    font-family: 'Changa', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    padding: 0 10rem;
}

.header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.header__row {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 20rem;
    width: 100%;
    margin-bottom: 8rem;
}

.header___pic {
    display: flex;
    height: 20rem;
    width: 20rem;
    margin-right: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.header__avatar {
    height: 20rem;
    border-radius: 20%;
    border: .1rem solid orange;
    background-color: orange;
    
}

.header__personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    border-left: 2px solid black;
    padding-left: 2rem;
}

.header__personal-surname {
    display: flex;
    font-weight: 400;
    -webkit-text-stroke: 1px black;
    color: orange;
}
.header__text {
    font-size: 7rem;
}
.header__personal-name {
    font-size: 3rem;
    letter-spacing: .1rem;
}
.header__symbol {
    color: orange;
}

.header__personal-role {
    white-space: nowrap;
}
.header__icons {
    display: flex;
    width: 20rem;
    justify-content: center;
    align-items: center;
}
.header__icons-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__row-footer {
    width: 100%;
}
.header__contacts {
    display: flex;
    justify-content: space-around;
}
.header__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__contact-name {
    font-size: 2rem;
}
.header__contact-name::after {
    content: ':';
}
.header__contact-content {
    font-weight: 500;
    letter-spacing: .04rem;
    transition: .2s ease-in-out;

}
.header__contact:nth-child(3) .header__contact-content:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.header__contact:nth-child(4) .header__contact-content:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.header__link {
    text-decoration: none;
    color: black;
}

.about {}

.skils {}

.footer {}
